
* 
{
	/*background-color: white;*/
	
	box-sizing: border-box;
	margin: 5px;
	padding: 5px;
	font-family: Verdana,sans-serif;	
	}
	
	

header, footer
{
	background-color: white;
	padding:5px;
	width: 100%;
	margin: 10px, 10px;
	#background-image:image(fondo.png);
}

	

nav 
{
	width: 96%;
	background-color: ligth orange; 
	padding: 5px;	
}


h1, h2, h3, h4
{
	background-color: orange;
}

article ul
{
	list-style-type: none;
}

ul, li
{
	list-style-type: none;
}

nav li
{
	display: inline-block;
	margin-left: 15px;
	background-color: orange;
	list-style-type: none;
}

body main
{
	background-color: white;
	background-image: linear-gradient(to right, white , orange);
	border-radius: 3px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article 
{
	border: solid;
	border-color: orange;
	margin: 3px;
	padding: 5px;
	border-radius: 3px;
	width: 90%;	
}

a:link {
	text-decoration: none;
  }
  
  a:visited {
	text-decoration: none;
  }
  
a:hover 
{
  background-color:purple;
  color: white;
}


main{
	display: flex;
	flex-wrap: wrap;
	/*background-color: white;  */
}


@media (min-width: 700px) 
{
	article {
		width:45%;
	}
}

@media (min-width: 1000px) {
	article {
	  width: 30%;
	  margin-left: auto;
	  margin-right: auto;
	}
}
